<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <p>jii</p>
        <script scr="/js/home.js"></script>
    </body>
</html>